<header title='Nyu - online GPA calculator'></header>
<span id='input-container'>
	<div id='input' class='card'>
		<div class='card-content'>
            <span class='card-title'>
            	Create your semester blueprint
            </span>
            <div id='no-course' ng-hide='showForm()'>
                <p>
                    You have not added any course yet, to do so, click on the "add" button situated at the bottom right of the page.
                </p>
            </div>
            <div id='semester-form' ng-show='showForm()'>
                <div class='row' ng-repeat='course in semester'>
                    <div class='col s1' style='cursor:pointer;' ng-click='removeCourse($index)'>
                        <i class='input-field material-icons'>
                            delete
                        </i>
                    </div>
                    <div class='input-field col s5'>
                        <input placeholder='Course name' type='text' ng-model=course.name >
                    </div>
                    <p class='range-field col s3'>
                        <input type='range' min='1' max='10' ng-model=course.credits />
                        <label>Credit(s) : {{course.credits}}</label>
                    </p>
                    <div class='input-field col s3'>
                        <select id='select-grade-{{$index}}' ng-model=course.grade >
                            <option value='A+' selected>A+</option>
                            <option value='A'>A</option>
                            <option value='B'>B</option>
                            <option value='C'>C</option>
                            <option value='D'>D</option>
                            <option value='E'>E</option>
                            <option value='F'>F</option>
                            <option value='DT'>DT</option>
                        </select>
                        <label>Grade</label>
                    </div>
                    {{initializeSelect($index)}}
                </div>
            </div>
        </div>
	</div>
</span>
<span id='result-container'>
	<div id='result' class='card'>
		<div class='card-content'>
            <span class='card-title'>
            	<center>
                    GPA
                </center>
            </span>
            <center class='red-text'>
            	<b>
                    {{getGpa()}}
                </b>
            </center>
        </div>
        <div class='card-action'>
            <a href='#email-modal' class='waves-effect red waves-light btn modal-trigger' style='width:100%;'>
                EMAIL RESULT
                <i class='material-icons right'>
                    send
                </i>
            </a>
        </div>
	</div>
</span>
<a class='btn-floating btn-large fab waves-effect waves-light red' ng-click='addCourse()'> 
    <i class='material-icons'>
        add
    </i>
</a>
<div id='email-modal' class='modal bottom-sheet'>
    <div class='modal-content'>
        <p>
            Enter the email ID or the list of email ID's (comma separated) to which you want to email your result. Your semester blueprint will be mailed along with your result.
        </p>
        <div class='input-field col s12'>
            <input placeholder='Email list' type='text' ng-model=emailList >
        </div>
        <div class='preloader-wrapper small active' ng-show='showPreloader'>
            <div class='spinner-layer spinner-red-only'>
                <div class='circle-clipper left'>
                    <div class='circle'></div>
                </div>
                <div class='gap-patch'>
                    <div class='circle'></div>
                </div>
                <div class='circle-clipper right'>
                    <div class='circle'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='modal-footer'>
        <span class='modal-action modal-close waves-effect waves-green btn-flat' >
            CLOSE
        </span>
        <span class='modal-action waves-effect waves-green btn-flat' ng-click=email(emailList) >
            EMAIL
        </span>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
</script>