body{
	padding:0px;
	margin:0px;
}

#input{
	padding:16px;
	margin:32px;
}

#input-container{
	position:absolute;
	top:80px;
	margin:0px;
	margin:0px;
	padding:0px;
	width:65%;
}

#result{
	padding:16px;
	margin:32px;
	margin-left:16px;
}

#result-container{
	position:fixed;
	top:80px;
	left:65%;
	margin:0px;
	padding:0px;
	width:35%;
}

.fab{
	position:fixed;
	bottom:0px;
	right:0px;
	margin:32px;
}

.header{
	position:absolute;
	text-align:center;
	width:100%;
    padding:16px;
    margin:0px;
    height:64px;
    font-size:48px;
}

.color-primary{
	background:#9C27B0;
}

.color-primary-dark{
	background:#7B1FA2;
}

.color-primary-light{
	background:#E1BEE7;
}

.color-text{
	color:#FFFFFF;
}

.color-icons{
	background:#FFFFFF;
}

.color-accent{
	background:#FF5252;
}

.color-text-primary{
	color:#212121;
}

.color-text-secondary{
	color:#727272;
}

.color-divider{
	background:#B6B6B6;
}